# Datasets
dataset/
*.tif
*.tiff
*.jpg
*.jpeg
*.png
*.zip

# Models and Logs
*.pth
*.pt
*.log
checkpoint/
checkpoints/

# Python/Notebooks
__pycache__/
.ipynb_checkpoints/
.venv/
venv/
env/
.env

# Docs and Markdown
*.md
!README.md
!docs/*.md

# Results and Samples
!results/*.png
!results/*.txt